@model BookCollection.ViewModels.BookDetailViewModel
@*@model List<BookCollection.Models.Book>*@
@*<h1>@Model.Name</h1>*@

<table class="table">
    <tr>
        <th>Book Title</th>
        <td>@Model.BookTitle</td>
    </tr>
    <tr>
        <th>Author's' First name</th>
        <td>@Model.AuthorFirstName</td>
    </tr>
    <tr>
        <th>Author's Last Name</th>
        <td>@Model.AuthorLastName</td>
    </tr>
     <tr>
        <th>Genre</th>
        <td>@Model.Genre</td>
    </tr>
     <tr>
        <th>Number of Pages</th>
        <td>@Model.NumberOfPages</td>
    </tr>
    <tr>
        <th>Also Liked By</th>
        <td>@Model.NumberOfPages</td>
    </tr>

</table>
